version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: schwab-tracker-app
    restart: unless-stopped
    ports:
      - "8000:8000"
    volumes:
      - schwb-data:/data
    env_file:
      - .env

volumes:
  schwb-data:
